<%- include("../../partials/header/firstheader.ejs") %>
<%- include("../../partials/header/navHeader.ejs") %>


<div class="container">
    <div class="row">
        <div class="col-12 text-center my-5">
            <p class="display-1 mt-5">Home Page</p>
        </div>
    </div>
</div>

<%- include("../../partials/footer/footer.ejs") %>







